<div class="login-box">
  <img src="assets/img/avatar.png" class="avatar">
  <h1>Login Here</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <p>Username</p>
    <input type="text" formControlName="username" placeholder="Enter Username">
    <mat-error *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched"
                class="help-block">Please Enter First Name</mat-error>
    <p>Password</p>
    <input type="password" formControlName="password" placeholder="Enter Password">
    <mat-error *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
                class="help-block">Please Enter Password</mat-error>
    <input type="submit" name="submit" value="Login" [disabled]="!signupForm.valid">
    
  </form>
</div>