<div class="top">
<h1>Enter Employee Details <button  (click)="onClose()" style="float: right;"> <mat-icon>clear</mat-icon></button> </h1>

</div>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
    <div class="row">
      <div class="column">

        <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput id="fname" formControlName="fname" class="form-control">
            <mat-hint><mat-error *ngIf="!signupForm.get('userData.fname').valid && signupForm.get('userData.fname').touched" class="help-block">Please Enter First Name</mat-error></mat-hint>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput id="lname" formControlName="lname" class="form-control">
            <mat-hint><mat-error *ngIf="!signupForm.get('userData.lname').valid && signupForm.get('userData.lname').touched" class="help-block">Please Enter Last Name</mat-error></mat-hint>
          </mat-form-field>
          


          <mat-form-field appearance="outline" class="example-container">
            <mat-label>Email Id</mat-label>
            <input matInput id="email" formControlName="email" class="form-control">
            <mat-hint><mat-error *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" class="help-block">Please enter a valid email!</mat-error> </mat-hint>
          </mat-form-field>
          

          <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput id="mobile" formControlName="mobile" class="form-control" >
            <mat-hint>  <mat-error *ngIf="!signupForm.get('userData.mobile').valid && signupForm.get('userData.mobile').touched"
               class="help-block">Please Enter Valid Mobile Number!</mat-error> </mat-hint>
          </mat-form-field>

        </div>

      </div>

      <div class="column">
        <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput id="city" formControlName="city" class="form-control">
            <mat-hint><mat-error *ngIf="!signupForm.get('userData.city').valid && signupForm.get('userData.city').touched" class="help-block">Please Enter City!</mat-error></mat-hint>
          </mat-form-field>
          
          <div class="add-bottom-padding">
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female" style="margin-left: 20px;">Female </mat-radio-button>
             
            </mat-radio-group>
          </div>
          <br />

          <mat-form-field appearance="outline">
            <mat-label>Department</mat-label>
            <mat-select #depid value="Development" formControlName="dept" [(value)]="selected">
              <mat-option value="Development">Development</mat-option>
              <mat-option value="Testing">Testing</mat-option>
              <mat-option value="Marketing">Marketing</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Hire Date" formControlName="hireDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <br />
          <div class="button-row" >
            <button [disabled]="!signupForm.valid" class="button" style="background-color:rgb(14, 64, 230);" type="submit" mat-button>Submit</button>            
<!-- <p>{{result}}</p> -->
            <button mat-raised-button style="background-color:rgb(38, 211, 38); margin-left: 30px;" class="button" (click)="onClear()">Clear</button>
           
          </div>
          <!-- <p>{{result}}</p> -->
        </div>
      </div>
    </div>
  </div>
</form>
